<b>Lookup By Product Name</b>
<p></p>
<form method="POST" action="/lookupByProductName">
	
	<label for="id">Product Name:</label>
	<input  type="text" name="pname" size="30">
	<p></p>
  	<input type="submit"/>
   
</form>

