<b>Lookup By Product Description</b>
<p></p>
<form method="POST" action="/lookupByProductDescription">
	
	<label for="id">Product Description:</label>
	<input  type="text" name="pdescription" size="30">
	<p></p>
  	<input type="submit"/>
   
</form>

