<!doctype html>
<html>
<head>
	<title>CS602 Project</title>
</head>
<body>
<header>
	{{!-- <img src="/images/bu-logo.gif" alt="logo"> --}}
</header>
<h3>CS602 Project - David Metraux</h3>
<a href="/products">All Products</a> | <a href="/lookupByProductName">Lookup By Product Name</a> | 
<a href="/cart">Cart</a> | <a href="/random">Past Orders</a> | <a href="/random">Admin Only: Pick User</a>
<hr/>
	
	{{{body}}}

</body>
</html>

